**.DS_Store
**.Rproj.user
**.log
**.blg
**.aux
**.bbl
**.out
**.csv
**.tsv
**.RData
**.Rhistory
**.mat
**.pdf
**.synctex.gz
**.sw*
**.dat
**.npy
**.synctex(busy)
**.npz
**.lof
**.toc
**.m4v
motivation.**